/*Global section*/
body {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0px;
	padding: 0px;
	background-color: #f4f4f4;
	min-height: 100%
}
ul {
	margin: 0;
	padding: 0;
}
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}
.left {
	float: left;
}
.right{
	float: right;
}
input {
	display: block;
	line-height: 1.5;
	margin: 20px auto 7px auto;
	border: 2px inset #35072C;
	padding: 10px;
	font-weight: bold;
}
select {
	display: block;
	line-height: 1.5;
	margin: 20px auto 7px auto;
	border: 2px inset #35072C;
	padding: 10px;
	min-width: 42%;
	font-weight: bold;
}
.attendant {
	visibility: visible;
	display: block;
}
.admin {
	visibility: visible;
	display: none;
}
.modify-btn {
	background-color: #8B4513;
	color: #ffffff;
	font-weight: bold;
	padding: 10px;
	min-width: 200px;
	border-radius: 20px;
	font-size: 16px;
}
.delete-btn {
	background-color: #8B4513;
	color: #ffffff;
	font-weight: bold;
	padding: 10px;
	min-width: 200px;
	border-radius: 20px;
	font-size: 16px;
}

/*Header Section*/
header {
	background-color: #35072C;
	color: #ffffff;
	padding-top: 20px;
	min-height: 70px;
	position: sticky;
	width: 100%;
	z-index: 10000;
	top: 0;
}
header input {
	width: 100%;
	border: 1px solid #ccc;
	float: left;
}
header a {
	color: #ffffff;
	text-decoration: none;
}
header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
header #logo {
	float: left;
}
header nav {
	float: right;
	margin-top: 10px;
	font-weight: bold;
}
header #logo h1 {
	margin: 0;
}

#attendant {
	margin-top: 20px;
}
/*Login Section*/

#login {
	margin: 50px auto auto auto;
	overflow: hidden;
	align-content: center;
	text-align: center;
}
#login h2 {
	color: #35072C;
}

.button-1 { 
	background-color: #35072C;
	color: #ffffff;
	padding: 10px;
	border-radius: 5px;
	border-color: #35072C;
	font-size: 16px;
	width: 150px;
	font-weight: bold;
	margin: auto;
	text-align: center;
}

.attendant-btn { 
	background-color: #35072C;
	color: #ffffff;
	padding: 3px;
	border-radius: 5px;
	border-color: #35072C;
	font-size: 12px;
	min-width: 30%;
	text-align: center;
	margin: auto;
}
/*Create Account section*/

#account {
	margin: 50px auto auto auto;
	overflow: hidden;
	align-content: center;
	text-align: center;
}
#account input {
	min-width: 30%;
}
.create-acc-btn { 
	background-color: #8B4513;
	color: #ffffff;
	padding: 10px;
	border-radius: 5px;
	border-color: #35072C;
	font-size: 16px;
	min-width 10%;
	font-weight: bold;
	margin-top: 15px;
	text-align: center;
}

/*Dashboard Section*/
#dashboard {
	text-align: left;
}
#dashboard h2 {
	text-align: center;
}
#dashboard p {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #051547;
	width: 100%;
}
#dashboard .Profile{
	width: 100%;
}
.user {
	width: 100px;
	margin: 20px 0px 0px 0px;
}
.boxes {
	margin-top: 20px;
}
.box {
	padding: 10px;
	background-color: #332C0D;
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	width: 30%;
	min-width: 200px;
	float: left;
	margin-right: 10px;
	overflow-wrap: break-word;
	margin-top: 15px;
	min-height: 150px;
}

/*All Products Section*/
#all-products {
	margin: 20px auto auto auto;
	overflow: hidden;
	align-content: center;
}

#all-products .boxes {
	text-align: center;
}
#all-products .boxes p {
	font-size: 12px;
	font-weight: normal;
}
#all-products .box img {
	width: 100px;
	height: 80px;
}

#all-products .box {
	background-color: #f4f4f4;
	color: #35072C;
	min-height: 180px;
}
.cart-btn {
	background-color: #8B4513;
	color: #ffffff;
	font-weight: bold;
	padding: 10px;
	min-width: 10%;
	border-radius: 20px;
	font-size: 16px;
}
#all-products .details-btn {
	background-color: #8B4513;
	color: #ffffff;
	font-weight: bold;
	padding: 10px;
	min-width: 200px;
	border-radius: 20px;
	font-size: 16px;
	visibility: hidden;
}
.box a {
	color: inherit;
	text-decoration: none;
}
.box a:hover {
	color: inherit;
}
.box a:active {
	background-color: inherit;
}

/*Produc Details section*/
#product-details {
	margin-top: 50px;
}
.product-details {
	color: #35072C;
}
.product-details img {
	min-width: 30%;
	max-width: 40%;
	float: left;
}
.product-details input {
	width: 5px;
	margin-left: 0;
	height: 10px;
}
#product-details .product-details .details {
float: left;
margin-left: 90px;
}
.product-details p {
	font-size: 16px;
}
.product-details h1 {
	font-size: 30px;
}

/*Sopping Cart Section*/
#cart {
	margin-top: 20px;
}
.product{
	color: #35072C;
}
.product img {
	min-width: 30%;
	max-width: 35%;
	min-height: 80px;
	max-height: 80px;
	margin-right: 30px;
}
#cart .product .details {
	font-size: 14px;
}
#cart h1 {
text-align: center;
}
#cart .product h1 {
	font-size: 100%;
	text-align: left;
}
#cart .product .details p input {
	min-width: 20%;
	max-width: 10%;
	margin-left: 0;
}
#cart .product .cart-box {
	float: left;
	min-width: 30%;
	margin: 10 0px;
	align-content: center;
}
.make-sales-btn {
	background-color: #8B4513;
	color: #ffffff;
	font-weight: bold;
	padding: 10px;
	min-width: 20%;
	border-radius: 20px;
	font-size: 16px;
}

	min-width: 10%;
	max-width: 20%;
	min-height: 80px;
	max-height: 80px;
	float: left;
}
#cart .product .details {
	margin-left: 90px;
	font-size: 12px;
}
.product h1 {
	font-size: 10px;
}
#cart .product .details p input {
	width: 2px;
	margin-left: 0;
}
#dashboard button {
	display: block;
	line-height: 1.5;
	margin-top: 15px;
	min-width: 30%;
}
#dashboard a {
	text-decoration: none;
	color: #ffffff;
}
table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}
tr {
	margin: auto;
}
td {
    border: 1px solid #35072C;
    text-align: center;;
		padding: 8px;
		margin: auto;
}
th {
	font-size: 17px;
	padding: 8px;
	font-weight: bold;
}
#search {
	display: inline-block;
	line-height: 1.5;
	margin: 20px auto 7px auto;
	border: 2px inset #35072C;
	padding: 10px;
	min-width: 40%;
	font-weight: bold;
}
#table-button {
	padding: 2px;
	width: 5%;
}
/*Admin Section*/
#all-sales select {
	display: inline;
	line-height: 1.5;
	margin: 20px auto 7px auto;
	border: 2px inset #35072C;
	padding: 10px;
	min-width: 42%;
	font-weight: bold;
}

#links {
	margin-top: 40px;
}
#links li {
	padding: 5px;
	float: left;
	display: inline;
	padding: 0 20px;
}

#links a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}
a:hover {
	color: #B8860B;
}
a:active {
	color: #B8860B;
	background-color: #ffffff;
	padding: 5px;
}
.create-attendant-btn {
	background-color: #8B4513;
	color: #ffffff;
	font-weight: bold;
	padding: 10px;
	min-width: 10%;
	border-radius: 20px;
	font-size: 16px;	
	margin-bottom: 20px;
}
.create-box {
	margin: 40px;
}
#create-product input {
	display: block;
	line-height: 1.5;
	margin: 20px auto 7px auto;
	border: 2px inset #35072C;
	padding: 10px;
	font-weight: bold;
	min-width: 30%;
}
#create-product {
	text-align: center;
	margin-top: 20px;
}
#create-product select {
	display: block;
	line-height: 1.5;
	margin: 20px auto 7px auto;
	border: 2px inset #35072C;
	padding: 10px;
	font-weight: bold;
	min-width: 32%;
}
#create-product button {
	background-color: #8B4513;
	color: #ffffff;
	padding: 10px;
	border-radius: 5px;
	border-color: #35072C;
	font-size: 16px;
	min-width 10%;
	font-weight: bold;
	margin-top: 15px;
	text-align: center;
}


/*footer section*/
footer {
	padding: 20px;
	background-color: #35072C;
	color: #ffffff;
	text-align: center;
	position: relative;
	bottom:0;
	margin-top: 100px;
}