/*Global section*/
body{
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0px;
	padding: 0px;
	background-color: #f4f4f4;
}
ul{
	margin: 0;
	padding: 0;
}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/*Header Section*/
header{
	background-color: #35072C;
	color: #ffffff;
	padding-top: 20px;
	min-height: 70px;
}
header a{
	color: #ffffff;
	text-decoration: none;
}
header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
header #logo{
	float: left;
}
header #user{
	float: right;
	margin-top: 10px;
	font-weight: bold;
}
header #logo h1{
	margin: 0;
}


/*Login Section*/

#login{
	margin: 50px auto auto auto;
	overflow: hidden;
	align-content: center;
	text-align: center;
}
#login h2{
	color: #35072C;
}
#login input{
	display: block;
	line-height: 1.5;
	margin: 20px auto 7px auto;
	border: 2px inset #35072C;
	padding: 10px;
	min-width: 40%;
	font-weight: bold;
}
.button-1{
	background-color: #35072C;
	color: #ffffff;
	padding: 10px;
	border-radius: 5px;
	border-color: #35072C;
	font-size: 16px;
	min-width: 150px;
	font-weight: bold;
	margin: auto;
	text-align: center;
}

/*Dashboard Section*/
#dashboard{
	display: block;
	line-height: 1.5;
	margin: auto;
}

footer{
	padding: 20px;
	margin-top: 19%;
	background-color: #35072C;
	color: #ffffff;
	text-align: center;
}